<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.course.dao.CourseMapper">
    <select id="SelectAll" resultType="com.enjoytrip.course.entity.Course">
        select * from course
    </select>

    <select id="CourseByUserId" parameterType="long" resultType="com.enjoytrip.course.entity.Course">
        select *
        from course where user_id = #{userId}
    </select>
    <select id="AttractionByCourseId" parameterType="long" resultType="com.enjoytrip.course.entity.CourseAttraction">
        select *
        from course_attraction where course_id = #{courseId}
    </select>

    <insert id="makeCourse" parameterType="com.enjoytrip.course.entity.Course" useGeneratedKeys="true" keyProperty="id">
        insert into course values(null, #{userId}, #{title}, #{isPublic}, now(), now())
    </insert>

    <insert id="insertAttraction" parameterType="com.enjoytrip.course.entity.CourseAttraction">
        insert into course_attraction values(null, #{courseId}, #{attractionId});
    </insert>

    <update id="publicChange" parameterType="com.enjoytrip.course.entity.Course">
        update course set is_public = #{isPublic} where id = #{id}
    </update>

    <update id="updatedAtChange" parameterType="com.enjoytrip.course.entity.Course">
        update course set updated_at=now() where id = #{id}
    </update>

    <insert id="courseLike" parameterType="com.enjoytrip.course.entity.CourseLike" >
        insert into course_like(course_id, user_id) values(#{courseId}, #{userId})
    </insert>
</mapper>