<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.course.dao.CourseMapper">
    <select id="SelectAll" resultType="com.enjoytrip.course.entity.Course">
        select *
        from course
    </select>
    <select id="SelectOneByCourseId" parameterType="Long" resultType="com.enjoytrip.course.entity.Course">
        select *
        from course where id = #{id}
    </select>
    <select id="CourseByUserId" parameterType="long" resultType="com.enjoytrip.course.entity.Course">
        select *
        from course where user_id = #{userId}
    </select>
    <select id="AttractionByCourseId" parameterType="long" resultType="com.enjoytrip.course.entity.CourseAttraction">
        select c.id, c.course_id, c.attraction_id, c.turn, c.day,c.date, a.attraction_name, a.address, a.attraction_image_url, a.latitude, a.longitude
        from attraction a join course_attraction c
        on a.id = c.attraction_id
        where c.course_id = #{courseId};
    </select>
    <select id="GetCourseExample" parameterType="long" resultType="com.enjoytrip.course.entity.CourseAttraction">
        select a.attraction_name
        from attraction a join course_attraction c
        on a.id = c.attraction_id
        where c.course_id = #{courseId};
    </select>

    <select id="likeCnt" parameterType="long" resultType="int">
        select count(*)
        from course_like where course_id = #{courseId} and is_like = 1
    </select>

    <select id="commentCnt" parameterType="long" resultType="int">
        select count(*)
        from course_comment where course_id = #{courseId}
    </select>

    <select id="commentsByCourseId" parameterType="Long" resultType="com.enjoytrip.course.entity.CourseComment">
        select *
        from course_comment where course_id = #{courseId} order by id desc
    </select>

    <select id="likeCheckByCourseIdUserId" parameterType="com.enjoytrip.course.entity.CourseLike" resultType="boolean">
        select is_like
        from course_like where course_id = #{courseId} and user_id = #{userId}
    </select>

    <select id="commentByCommentId" parameterType="Long" resultType="com.enjoytrip.course.entity.CourseComment">
        select *
        from course_comment where id = #{id} order by id desc
    </select>

    <select id="commentByUserId" parameterType="Long" resultType="com.enjoytrip.course.entity.CourseComment">
        select *
        from course_comment where user_id = #{userId} order by id desc
    </select>

    <insert id="makeCourse" parameterType="com.enjoytrip.course.entity.Course" useGeneratedKeys="true" keyProperty="id">
        insert into course values(null, #{userId}, #{title}, #{isPublic}, now(), now())
    </insert>

    <insert id="insertAttraction" parameterType="com.enjoytrip.course.entity.CourseAttraction">
        insert into course_attraction values(null, #{courseId}, #{attractionId});
    </insert>

    <insert id="courseLike" parameterType="com.enjoytrip.course.entity.CourseLike" >
        insert into course_like(course_id, user_id) values(#{courseId}, #{userId})
    </insert>

    <insert id="commentAdd" parameterType="com.enjoytrip.course.entity.CourseComment" useGeneratedKeys="true" keyProperty="id">
        insert into course_comment
        values(null,#{courseId}, #{userId},#{content},now(),now())
    </insert>

    <update id="publicChange" parameterType="com.enjoytrip.course.entity.Course">
        update course set is_public = #{isPublic}, updated_at = now() where id = #{id}
    </update>

    <update id="likeChange" parameterType="com.enjoytrip.course.entity.CourseLike">
        update course_like
        <if test="isLike == true">
            set is_like = false
        </if>
        <if test="isLike == false">
            set is_like = true
        </if>
        where course_id = #{courseId} and user_id = #{userId}
    </update>

</mapper>